language: node_js
node_js:
  - '0.10'
before_install:
  - currentfolder=${PWD##*/}
  - if [ "$currentfolder" != 'generator-angular-cmelion' ]; then cd .. && eval "mv $currentfolder generator-angular-cmelion" && cd generator-angular-cmelion; fi
