<!doctype html>
<html ng-app="<%= scriptAppName %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= scriptAppName %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <!-- TODO: Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- TODO: Insert Qbaka script-->
    <!-- /Qbaka -->

    <!--INJECT STYLES--><!--/INJECT STYLES-->

  </head>
  <body>

    <noscript>
      <div>
        <h3>Javascript is deactivated. You must <a href="http://www.activatejavascript.org/">activate javascript</a> in order to use this site.</h3>
      </div>
    </noscript>

    <div id="root" class="ng-cloak">
        <!--Constant elements like menus and footers may be added here-->

        <div ui-view class="view-change-animation"></div>

    </div>

    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-mocks/angular-mocks.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/angular-component-factory/angular-component-factory.js"></script>
    <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-busy/dist/angular-busy.js"></script>
    <script src="bower_components/angular-promise-tracker/promise-tracker.js"></script>
    <script src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>
    <script src="scripts/module.js"></script>
    <!--INJECT SCRIPTS--><!--/INJECT SCRIPTS-->

  </body>
</html>
