<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= scriptAppName %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <!-- TODO: Place favicon.ico and apple-touch-icon.png in the root directory -->
  </head>
  <body ng-app="<%= scriptAppName %>">

    <div class="container" ng-view></div>

    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
  </body>
</html>
