#root
{
  position: relative; //View will be positioned absolute during animations

  > div[ng-view], > div[ui-view]
  {
    > .container
    {
      max-width: none;
      margin-top: 40px;
    }
  }
}

.no-left-margin
{
  margin-left: 0 !important;
}

[ng-click]
{
  cursor: pointer;
}